<!-- Autor -->
<div>
    <mat-card class="d-flex justify-content-around " style="width: 350px; height:80px;">
      <mat-card-header>
        <img src="./assets/logoPor.svg" alt="imgLogo" mat-card-avatar />
        <mat-card-title> Porongo Autor</mat-card-title>
        <mat-card-subtitle>Ilustrador</mat-card-subtitle>
      </mat-card-header>
  
      <mat-icon class="icon"> 
        <a target="_blank" href="https://www.instagram.com/revistaporongo/?hl=es" class="fa fa-instagram fs-1 text-decoration-none"></a>
      </mat-icon>
    </mat-card>
  </div>
  
  <!-- tarjeta de prueba -->
  <!-- <div class="example-2 tarjeta d-flex justify-content-around ">
    <div class="wrapper">
      
      <div class="data">
        <div class="content">
          <span class="author">Nombre del <abbr title="Una revista hecha y autoeditada por aficionados a un determinado tema">Fanzin</abbr></span>
          <h2 class="title ">Nombre de los autores</h2>
          <p class="text">descripcion del numero de porongo y/o informacion del fanzin</p>
          
        </div>
      </div>
    </div>
  </div>  -->
  