<app-navbar></app-navbar>

<!-- banner mas revita actualizada -->
<div class="row mt-2">
  <div class="container">     
    <img src="./assets/banner.jpeg" class="rounded float-start" id="imgBanner" alt="...">
    
    <img src="./assets/revista.jpeg" class="rounded float-end" id="imgRevista" alt="...">

</div>
</div>

<!-- cards con revistas de todos los volumenes -->
<div class="container">
  <div class="row mt-2">
   <div class="card-group">
    <div class="card cardContent">
      <img src="./assets/revista.jpeg" class="card_Revista" alt="..." >
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card cardContent">
      <img src="./assets/revista2.jpeg" class="card_Revista"  alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card cardContent">
        <img src="./assets/revista.jpeg" class="card_Revista"  alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
  </div>
 </div>
</div>


<!-- <app-footer></app-footer> -->


