#text{
    color: aliceblue;
}
#textname{
    color: aliceblue;
    margin-right: 370px;
}
@media screen and (max-width: 1000px) {
    #navbar{
    background-color: rgba(255, 255, 255, 0.87);
    }
 }